@model IEnumerable<EyeGlassesApplication.Models.Admin>

<h1>قائمة الأدمن</h1>

@if (!Model.Any())
{
    <p>لا توجد بيانات لعرضها.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>اسم الأدمن</th>
                <th>البريد الإلكتروني</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var admin in Model)
            {
                <tr>
                    <!-- دمج fname و lname لعرض الاسم الكامل -->
                    <td>@admin FirstName @admin.LastName</td>
                    <td>@admin.Email</td>
                </tr>
            }
        </tbody>
    </table>
}